.header{
    // position: absolute;
    // top: 25%;


    &__name{
        font-size: 42px;
        font-weight: 700;
        font-family: "Roboto Slab",serif;
        margin-left: 10px;
    }

    &__text{
        color: #949494;
        font-size: 24px;
        line-height: 25px;
        margin-left: 10px;
    }
    &__list{
        display: flex;
    }
    &__item{
        width: 170px;
        height: 50px;
        background-color: #949494;
        margin: 10px;
        text-align: center;
        border-radius: 5px;
        transition: 2.2s;

        &:hover{
            background-color: #363636;
        }
    }

    &__link{
        padding-top: 10px;
        font-size: 22px;
        text-decoration: none;
        position: relative;
        top: 22%;
        color: #fff;
        transition: 2.2s;

        &:hover{
            color: gray;
        }
    }

    &__items{
        width: 170px;
        height: 50px;
        background-color: #2e89d3;
        margin: 10px;
        text-align: center;
        border-radius: 5px;
        transition: 2.2s;

        &:hover{
        background-color: rgb(4, 59, 114);
        }
    }

    &__links{
        padding-top: 10px;
        font-size: 22px;
        text-decoration: none;
        position: relative;
        top: 22%;
        color: #fff;
    }

    &__img{
        width: 400px;
        height: 400px;
        border-radius: 50%;
    }

    &__box{
        display: flex;
        justify-content: space-around;
        // position: absolute;
        padding-top: 10%;
    }
}